extends layout

block content
  body
    div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          a(class="back"  data-rel="back" data-role="none")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
        div(class="body-container")
          form(action='/', method='post', id='newentry')
            input(id="title", type='text', name='title', placeholder='Title')
            div.meal-pic
              img(id="picture", name='picture', src="/images/shawarma.jpeg")
            div.add-meal-button
              a(type="button", href='#/camera', data-theme='a') Retake Photo
            textarea(id="recipe", name='recipe', placeholder='Recipe', style='height:100px')
            select(id="multiselect", name='category', data-theme='a', multiple="multiple")
                option(value='Entree') Entree
                option(value='Appetizers') Appetizers
                option(value='Dessert') Dessert
                option(value='Bread') Bread
                option(id="other", value='new') Other...
            textarea(id = "notes", name='notes', placeholder='Notes', style='height:100px')
            div.submit-buttons
              div.cancel-button
                a(data-rel="back")
                  button(id="cancel") Cancel
              div.save-button
                button(id="save",data-theme='b', type='submit') Save

  script(src='/javascript/addentry.js', type = 'text/javascript')

    
