extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          div(class="back")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
        div(class="body-container")
          form(action='/addEntry_post', method='post',id='newentry')
            input(id="title", type='text', name='title', placeholder='Title')
            div.meal-pic
              img(id="picture", name='picture', src="/images/shawarma.jpeg")
            div.add-meal-button
              button(data-theme='a') Retake Photo
            textarea(id="recipe", name='recipe', placeholder='Recipe', style='height:100px')
            select(id="multiselect", name='category', data-theme='a', multiple="multiple")
                option(value='entrees') Entree
                option(value='app') Appetizers
                option(value='dessert') Dessert
                option(value='bread') Bread
                option(id="other", value='new') Other...
            textarea(id = "notes", name='notes', placeholder='Notes', style='height:100px')
            div.submit-buttons
              div.cancel-button
                button(id="cancel",data-theme='r') Cancel
              div.save-button
                button(id="save",data-theme='b', type='submit') Save

  script(src='/javascript/addentry.js', type = 'text/javascript')