extends layout

block content
  body
    div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          div(class="back-and-icon" data-rel="back")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
        div(class="body-container camera-background")
          div.camera
            img(src='/images/pizza_wheels.jpg')
        div.bottom-bar(data-role='footer')
          div.camera-button
            //a(href='save_photo.jade', data-rel='dialog', data-role='button') Take Picture
            //button(id='take-picture', data-theme='a') Take Picture
            a(href='#popupSavePic', data-rel='popup', data-role='button', data-position-to="window", data-transition="pop") Take Picture
              #popupSavePic(data-role='popup', data-overlay-theme="a", class="ui-content")
                h4 Do you want to save this picture?
                div.camera-popup-buttons
                  div.cancel-button
                    button(id="cancel",data-theme='r', data-icon="back") Back
                  div.save-button
                    button(id="save",data-theme='b', type='submit', data-icon="check") Save

          