extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          a(class="back"  data-rel="back" data-role="none")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
          //a(target="_self", href='#/addEntry', data-icon="star", data-theme="b", class="ui-btn-right add-button", style="margin-top:10px;") Share
          a(href='#popupShare', data-rel='popup', data-role='button', data-theme="b", class="ui-btn-right add-button", data-icon="star", data-position-to="window", data-transition="pop", style="margin-top:10px;") Share
              #popupShare(data-role='popup', data-overlay-theme="a", class="ui-content")
                h3 Share this dish:
                div.social-icons-container
                  div.social-icon
                    img(src='/images/social_icons/email.png')
                  div.social-icon
                    img(src='/images/social_icons/facebook.png')
                  div.social-icon-instagram
                    img(src='/images/social_icons/instagram.png')
                  div.social-icon
                    img(src='/images/social_icons/twitter.png')
        div(class="body-container")
          div.edit-entry-page
            br
            div.title-and-picture
              div.meal-thumbnail
                img(src="#{entry.picture}")
                button(data-theme='a', data-mini='true') Retake photo
              div.meal-title
                h2 #{entry.title}
            div.meal-info-heading
              div.info-title
                h3 Categories
              div.info-edit
                //button(data-theme='a', data-mini='true') Edit
                select(id="multiselect", name='category', data-theme='a', multiple="multiple", data-mini='true')
                  option(value='entrees') Entree
                  option(value='app') Appetizers
                  option(value='dessert') Dessert
                  option(value='bread') Bread
                  option(id="other", value='new') Other...
            #category-content.meal-info-content
              p Chicken, Entree
            div.meal-info-heading
              div.info-title
                h3 Recipe
              div.info-edit
                a(href='#popupEditRecipe', data-rel='popup', data-role='button', data-theme="a", data-mini='true', data-position-to="#recipe-content", data-transition="pop") Edit
                  #popupEditRecipe(data-role='popup', data-overlay-theme="a")
                    div.edit-text-popup-container
                      textarea(id = "edit-recipe", name='edit-recipe', style='height:100px')
            #recipe-content.meal-info-content
              p 6 chicken breasts
              p lettuce
              p tomato
              p taziki sauce
            div.meal-info-heading
              div.info-title
                h3 Notes
              div.info-edit
                a(href='#popupEditNotes', data-rel='popup', data-role='button', data-theme="a", data-mini='true', data-position-to="#notes-content", data-transition="pop") Edit
                  #popupEditNotes(data-role='popup', data-overlay-theme="a")
                    div.edit-text-popup-container
                      textarea(id = "edit-notes", name='edit-notes', style='height:100px')
            #notes-content.meal-info-content
              p This meal was a huge hit with the family! 
            div.back-button-edit-entry
              button(id='back-from-edit-entry', data-theme='b', data-icon="back", data-rel="back") Back
 
//input(ng-model='form.title', name='title')
//textarea(ng-model='form.text', cols='50', rows='15')
//button(ng-click='editEntry()') Edit asd
