extends layout

block content
  body
     div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          div(class="back-and-icon")
            div(class="back-arrow")
              img(src='/images/Back_arrow.png')
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
          a(target="_self", href='#/addEntry', data-icon="star", data-theme="b", class="ui-btn-right add-button", style="margin-top:10px;") Share
        div(class="body-container")
          div.edit-entry-page
            br
            div.title-and-picture
              div.meal-thumbnail
                img(src="#{entry.picture}")
                button(data-theme='a', data-mini='true') Edit photo
              div.meal-title
                h2 #{entry.title}
            div.meal-info-heading
              div.info-title
                h3 Categories
              div.info-edit
                button(data-theme='a', data-mini='true') Edit
            div.meal-info-content
              p Chicken, Entree
            div.meal-info-heading
              div.info-title
                h3 Recipe
              div.info-edit
                button(data-theme='a', data-mini='true') Edit
            div.meal-info-content
              p 6 chicken breasts
              p lettuce
              p tomato
              p taziki sauce
            div.meal-info-heading
              div.info-title
                h3 Notes
              div.info-edit
                button(data-theme='a', data-mini='true') Edit
            div.meal-info-content
              p This meal was a huge hit with the family! 
            div.back-button-edit-entry
              button(id='back-from-edit-entry', data-theme='b', data-icon="back") Back
 
//input(ng-model='form.title', name='title')
//textarea(ng-model='form.text', cols='50', rows='15')
//button(ng-click='editEntry()') Edit asd
