extends layout

block content
  body
    div(data-role='page', data-theme='b', class="page sarah-page")
      div(class="container")
        div(data-role='header', class = "header")
          div(class="back")
            div(data-role='icon', class="icon")
              img(src='/images/mydish_icon.png')
          div(data-role='title', class="title")
            h1 myDish
          a(target="_self", href='#/addEntry', data-icon='add', data-theme="b", class="ui-btn-right add-button", style="margin-top:10px;") Entry
        div(class="body-container")
          div(id="search", data-role="collapsible")
            h4 Categories
            ul(data-role='listview')
              li Dinner
              li Lunch 
              li Breakfast
          div.meal-entry
            each entry, i in entries
              h2 #{entry.title}
              div.meal-pic
                a(target="_self", href='/editEntry/#{entry.title}')
                  img(src="#{entry.picture}")