@import url("style.css");

.back {
	float: left;
	position: relative;
	width: 25%;
	text-decoration: none;
	background:transparent;
	border: 0px;
	cursor:pointer;
}

.back-arrow {
  float: left;
  height: auto;
  margin: 6px 0 0 4px;
  width: 24px;
}

.back-arrow img {
  width: 100%;
}
.body-container {
	padding: 0 5px;
	background-color:#ffffff;
}
.container {
	background-color: white;
	margin: 0 auto;
	max-width: 450px;
	width: 100%;
}
.header {
	height: 60px;
}
.icon {
	float: left;
	text-align: left;
	padding: 5px;
	width: 50px;
}
.icon img{
	float: left;
	height: auto;
	width: 100%;
}
.sarah-page {
	background-color: #E8E8E8;
}
.title {
	text-align: center;
	width: 100%;
}