.add-meal-button {
  margin: 0 auto;
  width: 80%;
}

.cancel-button {
  float: left;
  padding: 0 5%;
  width: 40%;
}

.category-select {
  margin: 25px 0;
}

.entry-title {
  height: 55px;
  margin: 10px 5px 0;
  position: relative;
  width: 100%;
}

.entry-title-entry {
  float: left;
  height: auto;
  width: 85%;
}
.entry-title-label {
  float: left;
  height: auto;
  width: 13%;
}

.meal-entry {
  padding: 0 5px;
}

.meal-pic {
  background-color: black;
  margin: 15px auto;
  width: 80%;
}

.meal-pic img {
  padding: 1% 1% 0.25% 1%;
  height: auto;
  width: 98%;
}

.save-button{
  float: left;
  padding: 0 5%;
  width: 40%;
}

.submit-buttons {
  position: relative;
  width: 100%;
}